/* import font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    /*  */
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

#heading-l {
    margin-top: 3rem;
    text-align: center;
}


/* Navbar */

.text-primary {
    color: #93cb52;
}


/* Navbar */

#navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
    /* Go over navbar */
    z-index: 1;
    padding: 1rem;
    /*  */
    margin: 0px;
    padding: 0px;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

#navbar ul li a:hover {
    background: #93cb52;
}


/* Showcase */


/* End of Showcase */


/* Main Contant */

#content {
    max-width: 960px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
}

#product {
    border: solid 1px #333;
    padding: 1rem;
    text-align: center;
}

#product img {
    border: solid 3px #fff;
}

.btn {
    border-radius: 1px;
    background: #f45;
    padding: 0.5rem;
    color: #fff;
}

.btn:hover {
    background: #93cb52;
}


/* End of main content  */


/* Footer */

#footer {
    margin-top: 5rem;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    text-align: center;
}


/* End of footer */


/* Product description */

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

.product-detail {
    border: 1px solid #333;
    padding: 2rem;
}

.image-product {
    display: flex;
    align-items: center;
}

#btns {
    margin-top: 3rem;
}


/* Product description */